<div class="row justify-content-around align-items-center bg-secondary py-2">
  <span class="col-3 text-center font-weight-bold">People in the tree:</span>
</div>

<table [dataSource]="persons" class="bg-info" mat-table style="width: 100%">
  <caption>Table containing list of people belonging to {{treeService.activeTree.name}} tree.</caption>
  <ng-container matColumnDef="photo">
    <th *matHeaderCellDef mat-header-cell scope="col">Photo</th>
    <td *matCellDef="let person" class="px-2" mat-cell>
      <span *ngIf="person?.photo">
        <img [src]="'data:image/jpg;base64,' + person?.photo?.encodedBytes" alt="Person's photo" class="rounded"
             height="50" width="50">
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th *matHeaderCellDef mat-header-cell scope="col">Full name</th>
    <td *matCellDef="let person" class="font-weight-bold" mat-cell>
      <span *ngIf="areLifespansLoaded()">
        <fa-icon *ngIf="!isPersonAlive(person.id)" [icon]="crossIcon"></fa-icon>
        {{Person.fullName(person)}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="sex">
    <th *matHeaderCellDef mat-header-cell scope="col">Sex</th>
    <td *matCellDef="let person" mat-cell>
      <span [ngSwitch]="sexEnum[person.sex]" class="col-1 text-center">
      <fa-icon *ngSwitchCase="sexEnum.F" [icon]="femaleSexIcon" style="color: darkviolet"></fa-icon>
      <fa-icon *ngSwitchCase="sexEnum.M" [icon]="maleSexIcon" style="color: dodgerblue"></fa-icon>
      <fa-icon *ngSwitchCase="sexEnum.U" [icon]="undeterminedSexIcon" style="color: gray"></fa-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="lifespan">
    <th *matHeaderCellDef mat-header-cell scope="col">Lifespan (birth - death)</th>
    <td *matCellDef="let person" class="font-weight-light" mat-cell>
      <span *ngIf="areLifespansLoaded()">{{getCleanLifespan(person.id)}}</span></td>
  </ng-container>

  <ng-container matColumnDef="parents">
    <th *matHeaderCellDef mat-header-cell scope="col">Parents</th>
    <td *matCellDef="let person" mat-cell>
      <span *ngIf="areParentsLoaded()">{{parents.get(person.id)[0]}} and {{parents.get(person.id)[1]}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th *matHeaderCellDef mat-header-cell scope="col">Options</th>
    <td *matCellDef="let person" mat-cell>
      <button [routerLink]="['/person', person.id]" class="btn btn-secondary mx-1">View details</button>
      <button (click)="selectedPerson = person" class="btn btn-success mx-1"
              data-target="#relationModal" data-toggle="modal">Add relative
      </button>
      <button [routerLink]="['/person', person.id, 'update']" class="btn btn-primary mx-1">Edit person</button>
      <button (click)="delete(person.id)" class="btn btn-danger mx-1">Delete person</button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

<div *ngIf="persons === undefined || !persons.length" class="list-group-item bg-info">
  <div class="row justify-content-around align-items-center">
    <button class="col-2 btn btn-primary" routerLink="/person/new">Add first person to start the tree!</button>
  </div>
</div>

<mat-paginator #paginator (page)="pageEvent = refreshData($event)" [length]="page.totalElements"
               [pageIndex]="page.number" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="page.size"
               showFirstLastButtons></mat-paginator>


<div aria-hidden="true" aria-labelledby="modalTitle" class="modal fade" id="relationModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div *ngIf="selectedPerson" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Choose who new person is for {{Person.fullName(selectedPerson)}}:</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-around align-items-center">
          <div *ngFor="let relationship of relationships()">
            <button [routerLink]="['/person/new', relationship.toLowerCase(), 'of', selectedPerson.id]"
                    class="btn btn-primary px-4" data-dismiss="modal">
              {{relationship.toLowerCase()}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
