@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
    (
      0: 0,
      1: ($spacer * .25),
      2: ($spacer * .5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 3),
      6: ($spacer * 6),
      7: ($spacer * 9),
      8: ($spacer * 18),
      9: ($spacer * 36)
    ),
    $spacers
);


$theme-colors: (
  primary: #bc8f8f,
  secondary: #f0fff0,
  //success: $green,
  info: #98fb98,
  //warning: $yellow,
  //danger: $red,
  //light: $gray-100,
  dark: #3a3a34
);

$primary: rosybrown;
$secondary: honeydew;
$info: palegreen;

@import "../../node_modules/bootstrap";
