// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$genea-logic-rosybrown: (
  50: #bcbc8f,
  100: #bc8f8f,
  200: #bca88f,
  300: #bc8f8f,
  400: #bc8f8f,
  500: #bc8f8f,
  600: #bc8f8f,
  700: #bc8f8f,
  800: #bc8f8f,
  900: #bc8f8f,
  A100: #bc8f8f,
  A200: #bc8f8f,
  A400: #bc8f8f,
  A700: #bc8f8f,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$genea-logic-custom-primary: mat-palette($genea-logic-rosybrown, 100, 50, 200);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$genea-logic-client-primary: mat-palette($genea-logic-custom-primary);
$genea-logic-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$genea-logic-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$genea-logic-client-theme: mat-light-theme($genea-logic-client-primary, $genea-logic-client-accent, $genea-logic-client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($genea-logic-client-theme);

@import '~src/sass/variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::after {
  content: "";
  background-image: url('../assets/bg-trees.JPG');
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
