<div id="register">
  <div class="container">
    <h1 class="text-center pt-4 promotion-title">Create account on {{UtilService.APP_NAME}}</h1>
    <div class="row justify-content-center align-items-center pt-4" id="register-row">
      <div class="col-md-6" id="register-column">
        <div class="col-md-12 mb-5" id="register-box">

          <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" id="register-form">
            <h3 class="text-center register-title">You just need to fill the form below:</h3>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>

            <div class="form-group">
              <label class="register-field" for="username">Username:</label><br>
              <input [ngClass]="{ 'is-invalid': submitted && registerForm.controls.username.errors }"
                     class="form-control" formControlName="username" id="username"
                     type="text"/>
              <div *ngIf="submitted && registerForm.controls.username.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.username.errors.required">Username is required</div>
                <div *ngIf="registerForm.controls.username.errors.maxlength">
                  Username is too long (maximum is 48 characters)
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="register-field" for="email">Email address:</label><br>
              <input [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }" class="form-control"
                     formControlName="email" id="email"
                     type="text"/>
              <div *ngIf="submitted && registerForm.controls.email.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.email.errors.required">Email is required.</div>
                <div *ngIf="registerForm.controls.email.errors">Email does not match email pattern.</div>
                <div *ngIf="registerForm.controls.email.errors.maxlength">
                  Email is too long (maximum is 254 characters)
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="register-field" for="password">Password:</label><br>
              <input #passwordField [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }"
                     class="form-control"
                     formControlName="password" id="password"
                     type="password"/>
              <div *ngIf="submitted && registerForm.controls.password.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                <div *ngIf="registerForm.controls.password.errors.minlength">Password is too short (minimum is 8
                  characters)
                </div>
                <div *ngIf="registerForm.controls.password.errors.maxlength">
                  Password is too long (maximum is 80 characters)
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="register-field" for="repeatedPassword">Repeat password:</label><br>
              <input [ngClass]="{ 'is-invalid': submitted && registerForm.controls.repeatedPassword.errors }"
                     class="form-control" formControlName="repeatedPassword"
                     id="repeatedPassword"
                     type="password"/>
              <div *ngIf="submitted && registerForm.controls.repeatedPassword.errors"
                   class="invalid-feedback">
                <div *ngIf="registerForm.controls.repeatedPassword.errors.matchingPassword">Passwords do not match</div>
                <div *ngIf="registerForm.controls.repeatedPassword.errors.required">Password is required</div>
                <div *ngIf="registerForm.controls.repeatedPassword.errors.minlength">Password is too short (minimum is 8
                  characters)
                </div>
                <div *ngIf="registerForm.controls.repeatedPassword.errors.maxlength">
                  Password is too long (maximum is 80 characters)
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="register-field" for="firstName">First name:</label><br>
              <input [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName.errors}"
                     class="form-control" formControlName="firstName" id="firstName"
                     type="text"/>
              <div *ngIf="submitted && registerForm.controls.firstName.errors"
                   class="invalid-feedback">
                <div *ngIf="registerForm.controls.firstName.errors.maxlength">
                  First name is too long (maximum is 48 characters)
                </div>
              </div>
            </div>

            <div class=" form-group">
              <label class="register-field" for="lastName">Last name:</label><br>
              <input [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName.errors}"
                     class="form-control" formControlName="lastName" id="lastName"
                     type="text"/>
              <div *ngIf="submitted && registerForm.controls.lastName.errors"
                   class="invalid-feedback">
                <div *ngIf="registerForm.controls.lastName.errors.maxlength">
                  Last name is too long (maximum is 48 characters)
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm form-group">
                <button [disabled]="loading" class="btn btn-secondary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Register
                </button>
                <a class="btn text-right register-field" routerLink="/login">I already have an account</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
