@import '~src/sass/variables';

.nav-item {
  font-size: 18px;
}

.nav-item-link {
  cursor: pointer;
  color: black !important;
  background: $secondary;
  @extend .nav-link;
  @extend .rounded;
  @extend .mx-2;
  @extend .align-items-center
}

.nav-item-text {
  @extend .nav-link;
  @extend .mx-2;
}
