<nav class="navbar navbar-expand w-100 bg-primary">

  <a class="navbar-brand nav-item-link" routerLink="/">{{UtilService.APP_NAME}}</a>

  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul *ngIf="this.userService.currentlyLoggedUser" class="navbar-nav mr-auto text-dark" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-item-link" routerLink="/trees">Trees</a>
      </li>
      <li class="nav-item dropdown">
        <a *ngIf="this.treeService.activeTree"
           class="nav-item-link dropdown-toggle"
           data-toggle="dropdown" id="viewTreeModes">View tree</a>
        <div aria-labelledby="viewTreeModes" class="dropdown-menu">
          <a [routerLink]="['/view/list']" class="dropdown-item">List view</a>
          <a [routerLink]="['/view/chart']" class="dropdown-item">Chart view</a>
        </div>
      </li>
      <li *ngIf="this.treeService.activeTree" class="nav-item">
        <a class="nav-item-link" routerLink="/tree/timeline">Tree timeline</a>
      </li>
      <li class="nav-item">
        <div *ngIf="this.userService.currentlyLoggedUser" class="nav-item-text">Current
          tree: {{getActiveTreeName()}}</div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div *ngIf="this.userService.currentlyLoggedUser" class="nav-item-text">
          You are logged as: {{getLoggedUserNameAndUsername()}}
        </div>
      </li>
      <li class="nav-item">
        <a *ngIf="!this.userService.currentlyLoggedUser" class="nav-item-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!this.userService.currentlyLoggedUser" class="nav-item-link" routerLink="/login">Log in</a>
      </li>
      <li class="nav-item">
        <a *ngIf="this.userService.currentlyLoggedUser" class="nav-item-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a (click)="logOut()" *ngIf="this.userService.currentlyLoggedUser" class="nav-item-link">Log out</a>
      </li>
    </ul>
  </div>
</nav>
