<div style="position: relative">
  <div id="buttonAndSelectContainter">
    <div *ngIf="areChartsLoaded" id="export-chart">
      <button class="btn btn-outline-primary dropdown dropdown-toggle" data-toggle="dropdown"
              id="exportDrop">Export chart as...
      </button>
      <div aria-labelledby="exportDrop" class="dropdown-menu">
        <a (click)="exportSVG(selectedPerson)" class="dropdown-item">SVG</a>
        <a (click)="exportPNG(selectedPerson)" class="dropdown-item">PNG</a>
        <a (click)="exportPDF(selectedPerson)" class="dropdown-item">PDF</a>
      </div>
    </div>
    <div *ngIf="areChartsLoaded" id="chart-type-selector">
      <select (ngModelChange)="switchSelectedChart($event)" *ngIf="areChartsLoaded"
              [(ngModel)]="isAncestorChartSelected"
              class="custom-select pb-1 w-auto">
        <option [value]="true">Ancestors of {{ Person.fullName(selectedPerson) }}</option>
        <option [value]="false">Descendants of {{ Person.fullName(selectedPerson) }}</option>
      </select>
    </div>
  </div>


  <div id="tree"></div>

</div>

<div aria-hidden="true" aria-labelledby="modalTitle" class="modal fade" id="relationModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div *ngIf="selectedPersonForAddingRelative" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Choose who new person is
          for {{ Person.fullName(selectedPersonForAddingRelative) }}:</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-around align-items-center">
          <div *ngFor="let relationship of relationships()">
            <button [routerLink]="['/person/new', relationship.toLowerCase(), 'of', selectedPersonForAddingRelative.id]"
                    class="btn btn-primary px-4"
                    data-dismiss="modal">
              {{ relationship.toLowerCase() }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
