@import '~src/sass/variables';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#tree {
  width: 100%;
  height: 100%;
}

#buttonAndSelectContainter {
  position: absolute;
  top: 4.1%;
  z-index: 2000;
}

#export-chart {
  display: inline-block;
  margin-left: 1.6em;
  width: auto;
  z-index: 100000;
}

#chart-type-selector {
  display: inline-block;
  margin-left: 1.6em;
  width: auto;
  z-index: 100000;
}


