<div class="row justify-content-around align-items-center bg-secondary py-2">
  <span class="col-3 text-center font-weight-bold">Permissions:</span>
  <button class="col-2 btn btn-success"
          data-target="#grantPermissionModal"
          data-toggle="modal">
    Grant access for new user
  </button>
</div>


<table [dataSource]="permittedUsers"
       class="bg-info"
       mat-table
       style="width: 100%">
  <caption>Table containing list of users allowed to view and edit {{treeService.activeTree.name}} tree.</caption>
  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell scope="col">email</th>
    <td *matCellDef="let element" class="font-weight-bold" mat-cell>{{element.email}}</td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th *matHeaderCellDef mat-header-cell scope="col">username</th>
    <td *matCellDef="let element" mat-cell>{{element.username}}</td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th *matHeaderCellDef mat-header-cell scope="col">Actions</th>
    <td *matCellDef="let element" mat-cell>
      <button
        (click)="userToRevoke = element"
        class="btn btn-danger mx-1"
        data-target="#revokePermissionModal"
        data-toggle="modal"
      >Revoke permission
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns"
      mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;"
      mat-row></tr>
</table>

<div aria-hidden="true" class="modal fade" id="revokePermissionModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm tree deletion</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to revoke user <em>{{userToRevoke?.username}}</em> access to
        <em>{{treeService.activeTree.name}}</em>
        tree?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" type="button">Cancel</button>
        <button (click)="revokePermission(treeService.activeTree.id, userToRevoke?.id)" class="btn btn-danger"
                data-dismiss="modal" type="button">Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" class="modal fade" id="grantPermissionModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tree properties</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Provide username of user to grant permission:</mat-label>
              <input [formControl]="usernameFormControl" matInput placeholder="username" type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
          <button
            (click)="onSubmit()"
            class="btn btn-primary"
            data-dismiss="modal"
          >Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
