@import '~src/sass/variables';

td, th {
  word-wrap: break-word !important;
  width: 28% !important;
}

.mat-column-options {
  width: 24% !important;
}

.mat-column-type {
  width: 10% !important;
}

.mat-column-startDate {
  width: 10% !important;
}
