@import '~src/sass/variables';

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-panel-title {
  @extend .font-weight-bold
}

mat-expansion-panel {
  margin-left: 15%;
  margin-right: 15%;
  background-color: $info;
}

mat-card {
  margin-left: 10%;
  margin-right: 10%;
}
