<div class="text-center bg-secondary py-3">
  <span class="col-3 text-center font-weight-bold">{{title}}</span>
</div>

<div class="bg-info p-4 mx-5">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <form *ngIf="personForm" [formGroup]="personForm">
    <app-family-select #familySelectComponent (errorEmitter)="selectErrorHandler($event)" [relationship]="relationship"
                       [relativeId]="relativeId"></app-family-select>
    <!-- name row -->
    <div class="row mb-3">
      <div class="col">
        <label class="col-form-label" for="namePrefix">Title: </label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.namePrefix.errors}" class="form-control"
               formControlName="namePrefix" id="namePrefix"
               type="text">
        <div *ngIf="personForm.controls.namePrefix.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.namePrefix.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.namePrefix)}}</div>
        </div>
      </div>
      <div class="col">
        <label class="col-form-label" for="firstName">First name: </label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.firstName.errors}" class="form-control"
               formControlName="firstName" id="firstName"
               type="text">
        <div *ngIf="personForm.controls.firstName.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.firstName.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.firstName)}}</div>
        </div>
      </div>
      <div class="col">
        <label class="col-form-label" for="middleName">Middle name:</label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.middleName.errors}" class="form-control"
               formControlName="middleName" id="middleName"
               type="text">
        <div *ngIf="personForm.controls.middleName.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.middleName.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.middleName)}}</div>
        </div>
      </div>
      <div class="col">
        <label class="col-form-label" for="nickname">Nickname:</label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.nickname.errors}" class="form-control"
               formControlName="nickname" id="nickname"
               type="text">
        <div *ngIf="personForm.controls.nickname.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.nickname.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.nickname)}}</div>
        </div>
      </div>
    </div>
    <!--surname row-->
    <div class="row mb-3">
      <div class="col">
        <label class="col-form-label" for="surnamePrefix">Surname prefix:</label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.surnamePrefix.errors}"
               class="form-control" formControlName="surnamePrefix" id="surnamePrefix"
               type="text">
        <div *ngIf="personForm.controls.surnamePrefix.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.surnamePrefix.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.surnamePrefix)}}</div>
        </div>
      </div>
      <div class="col">
        <label class="col-form-label" for="lastName">Last name:</label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.lastName.errors}" class="form-control"
               formControlName="lastName" id="lastName"
               type="text">
        <div *ngIf="personForm.controls.lastName.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.lastName.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.lastName)}}</div>
          <div *ngIf="personForm.controls.lastName.errors.required">Last name is required (use 'N. N.' if not known)
          </div>
        </div>
      </div>
      <div class="col">
        <label class="col-form-label" for="maidenName">Maiden name:</label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.maidenName.errors}" class="form-control"
               formControlName="maidenName" id="maidenName"
               type="text">
        <div *ngIf="personForm.controls.maidenName.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.maidenName.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.maidenName)}}</div>
        </div>
      </div>
      <div class="col">
        <label class="col-form-label" for="nameSuffix">Name suffix:</label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.nameSuffix.errors}" class="form-control"
               formControlName="nameSuffix" id="nameSuffix"
               type="text">
        <div *ngIf="personForm.controls.nameSuffix.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.nameSuffix.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.nameSuffix)}}</div>
        </div>
      </div>
    </div>
    <!--not name-related form part-->
    <div class="row mb-3">
      <!--left NNF column - dates and places-->
      <div class="col-8">
        <!--status radios-->
        <div class="row justify-content-around mb-3">
          <div class="col-6">
            <p class="">Status: </p>
            <div class="custom-control custom-radio custom-control-inline">
              <input checked class="custom-control-input" formControlName="status" id="livingRadio" name="status"
                     type="radio"
                     value="living">
              <label class="custom-control-label" for="livingRadio">living</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input class="custom-control-input" formControlName="status" id="deceasedRadio" name="status" type="radio"
                     value="deceased">
              <label class="custom-control-label" for="deceasedRadio">deceased</label>
            </div>
          </div>
          <div class="col-6" style="font-size: 16px">
            <div class="input-group">
              <div class="custom-file">
                <label class="custom-file-label" for="photo">Photograph:</label>
                <input (change)="Photo = $event" accept="image/*" class="custom-file-input" id="photo" type="file">
              </div>
              <div class="input-group-append">
                <button (click)="photo = null" [disabled]="!photo" class="btn btn-outline-danger">Remove photo</button>
              </div>
            </div>
            <div *ngIf="photo" class="text-center mt-1 text-truncate">
              Chosen file: <strong>{{photo.name}}</strong></div>
          </div>
        </div>
        <!--birth section-->
        <div class="row mb-3">
          <div class="col-7">
            <app-date-form #birthDateComponent [dateType]="eventType.BIRT"></app-date-form>
          </div>
          <div class="col-5">
            <label class="col-form-label" for="birthPlace">Birth place</label>
            <input (click)="preparePlaceForm(eventType.BIRT)" class="form-control" data-target="#placeModal"
                   data-toggle="modal"
                   id="birthPlace" type="text" value="{{toPlaceString(personForm.controls.birthPlace?.value)}}">
          </div>
        </div>
        <!--death/residence section-->
        <div class="row mb-3">
          <div [hidden]="isPersonAlive()" class="col-7">
            <app-date-form #deathDateComponent [dateType]="eventType.DEAT"></app-date-form>
          </div>
          <div [hidden]="isPersonAlive()" class="col-5">
            <label class="col-form-label" for="deathPlace">Death place</label>
            <input (click)="preparePlaceForm(eventType.DEAT)" class="form-control" data-target="#placeModal"
                   data-toggle="modal"
                   id="deathPlace" type="text" value="{{toPlaceString(personForm.controls.deathPlace?.value)}}">
          </div>
          <div [hidden]="!isPersonAlive()" class="col">
            <label class="col-form-label" for="residencePlace">Place of residence</label>
            <input (click)="preparePlaceForm('Residence')" class="form-control" data-target="#placeModal"
                   data-toggle="modal"
                   id="residencePlace" type="text" value="{{toPlaceString(personForm.controls.residencePlace?.value)}}">
          </div>
        </div>
        <!--burial section-->
        <div [hidden]="isPersonAlive()" class="row mb-3">
          <div class="col-7">
            <app-date-form #burialDateComponent [dateType]="eventType.BURI"></app-date-form>
          </div>
          <div class="col-5">
            <label class="col-form-label" for="burialPlace">Burial place</label>
            <input (click)="preparePlaceForm(eventType.BURI)" class="form-control" data-target="#placeModal"
                   data-toggle="modal"
                   id="burialPlace" type="text" value="{{toPlaceString(personForm.controls.burialPlace?.value)}}">
          </div>
        </div>
        <!--cause of death-->
        <div [hidden]="isPersonAlive()" class="row mb-3">
          <div class="col">
            <label class="col-form-label" for="deathCause">Cause of death</label>
            <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.deathCause.errors}"
                   class="form-control" formControlName="deathCause" id="deathCause"
                   type="text">
            <div *ngIf="personForm.controls.deathCause.errors" class="invalid-feedback">
              <div
                *ngIf="personForm.controls.deathCause.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.deathCause)}}</div>
            </div>
          </div>
        </div>
      </div>
      <!--right NNF col - sex, occupation and bio-->
      <div class="col-4 justify-content-around">
        <p class="">Sex:</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" formControlName="sex" id="maleSex" name="sex" type="radio" value="m">
          <label class="custom-control-label" for="maleSex">male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" formControlName="sex" id="femaleSex" name="sex" type="radio"
                 value="f">
          <label class="custom-control-label" for="femaleSex">female</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input checked class="custom-control-input" formControlName="sex" id="undeterminedSex" name="sex"
                 type="radio" value="u">
          <label class="custom-control-label" for="undeterminedSex">undetermined</label>
        </div>
        <br>
        <label class="col-form-label mt-3" for="occupation">Occupation:</label>
        <input [ngClass]="{'is-invalid': personSubmitted && personForm.controls.occupation.errors}"
               class="form-control mb-3" formControlName="occupation" id="occupation"
               type="text">
        <div *ngIf="personForm.controls.occupation.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.occupation.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.occupation)}}</div>
        </div>

        <label class="col-form-label" for="bio">Biography:</label>
        <textarea [ngClass]="{'is-invalid': personSubmitted && personForm.controls.bio.errors}"
                  class="form-control pb-4 mb-3" formControlName="bio" id="bio"
                  rows="8"></textarea>
        <div *ngIf="personForm.controls.bio.errors" class="invalid-feedback">
          <div
            *ngIf="personForm.controls.bio.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(personForm.controls.bio)}}</div>
        </div>
      </div>
    </div>

    <div class="row mb-3 justify-content-around">
      <button *ngIf="treeService.activeTree" class="col btn btn-secondary mx-5" routerLink="/view/list">Cancel and go to
        list view
      </button>
      <button *ngIf="treeService.activeTree" class="col btn btn-secondary mx-5" routerLink="/view/chart">Cancel and go
        to
        chart view
      </button>
      <button *ngIf="person?.id" [routerLink]="['/person', person.id]" class="col btn btn-secondary mx-5">Cancel and go
        to person profile
      </button>
      <button (click)="submitForm()" class="col form-control btn-success mx-5">Save changes</button>
    </div>

  </form>
</div>

<div *ngIf="placeForm" aria-hidden="true" aria-labelledby="modalTitle" class="modal fade" id="placeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">{{placeType}} place</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="placeForm" [formGroup]="placeForm">
          <div class="form-group">
            <label class="col-form-label" for="placeName">Place name (required):</label>
            <input class="form-control" formControlName="name" id="placeName" placeholder="Unique place name"
                   [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.name.errors}" type="text">
            <div *ngIf="placeForm.dirty && placeForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="placeForm.controls.name.errors.required">Name is required</div>
              <div
                *ngIf="placeForm.controls.name.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.name)}}</div>
            </div>

            <label class="col-form-label" for="address">Address:</label>
            <textarea [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.address.errors}"
                      class="form-control" formControlName="address" id="address" type="text"></textarea>
            <div *ngIf="placeForm.controls.address.errors" class="invalid-feedback">
              <div
                *ngIf="placeForm.controls.address.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.address)}}</div>
            </div>

            <label class="col-form-label" for="city">City:</label>
            <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.city.errors}" class="form-control"
                   formControlName="city" id="city"
                   type="text">
            <div *ngIf="placeForm.controls.city.errors" class="invalid-feedback">
              <div
                *ngIf="placeForm.controls.city.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.city)}}</div>
            </div>


            <label class="col-form-label" for="state">State (first-level administrative division):</label>
            <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.state.errors}" class="form-control"
                   formControlName="state" id="state"
                   type="text">
            <div *ngIf="placeForm.controls.state.errors" class="invalid-feedback">
              <div
                *ngIf="placeForm.controls.state.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.state)}}</div>
            </div>

            <label class="col-form-label" for="postalCode">Postal code:</label>
            <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.postalCode.errors}"
                   class="form-control" formControlName="postalCode" id="postalCode"
                   type="text">
            <div *ngIf="placeForm.controls.postalCode.errors" class="invalid-feedback">
              <div
                *ngIf="placeForm.controls.postalCode.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.postalCode)}}</div>
            </div>

            <label class="col-form-label" for="country">Country:</label>
            <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.country.errors}" class="form-control"
                   formControlName="country" id="country"
                   type="text">
            <div *ngIf="placeForm.controls.country.errors" class="invalid-feedback">
              <div
                *ngIf="placeForm.controls.country.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.country)}}</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
        <button (click)="submitPlace(placeType)" [disabled]="placeForm.invalid" class="btn btn-primary"
                data-dismiss="modal">Submit
        </button>
      </div>
    </div>
  </div>
</div>

