<div *ngIf="message.body" class="alert alert-{{message.type}} alert-dismissible" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{message.type}}:</strong> {{message.body}}
</div>
