<div *ngIf="families?.length>0" class="input-group">
  <span class="input-group-text">This person is:</span>
  <select [(ngModel)]="selectedFamily" class="custom-select pr-0" id="familySelect" name="familySelect">
    <option *ngFor="let family of families" [attr.selected]="family == families[0] ? true : null"
            [ngValue]="family">
      {{getContextualFamilyName(family, relationship)}}</option>
  </select>
</div>
