<div class="promotion-container">
  <div class="flex-item" style="align-items: center">
    <h1>Welcome to {{UtilService.APP_NAME}}!</h1>
  </div>

  <div class="flex-item" style="align-items: flex-start">
    <mat-card class="bg-info">
      <mat-card-content class="h2">
        {{UtilService.APP_NAME}} is a genealogical application created in order to aid genealogists with
        their work.
        It allows creating and managing families including people and events belonging to them.
        <br>
        <br>
        <mat-card-actions class="h5">
          <button color="primary" mat-button routerLink="/login">Log in</button>
          <button color="primary" mat-button routerLink="/register">Create new account</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
