@import '~src/sass/variables';

h1 {
  font-size: 70px;
  margin-right: auto;
  margin-left: auto;
}

.promotion-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  @extend .mx-5
}
