<label class="col-form-label" for="date">{{dateType}} date</label>
<form [formGroup]="dateForm">
  <div class="input-group">
    <select class="custom-select pr-0" formControlName="estimation" id="estimation" name="estimation">
      <option [value]="dateEstimationClass.EXACT" selected>Exact date</option>
      <option [value]="dateEstimationClass.APPROXIMATED">Approximated date</option>
      <option [value]="dateEstimationClass.BEFORE">Before</option>
      <option [value]="dateEstimationClass.AFTER">After</option>
      <option [value]="dateEstimationClass.BETWEEN">Between</option>
    </select>
    <input [ngClass]="{'is-invalid': isDateModelSubmitted && dateForm.controls.dateValue.errors}" class="form-control"
           formControlName="dateValue" id="date" name="value"
           placeholder="dd.MM.yyyy" type="text">
    <span *ngIf="dateForm.controls.estimation.value == 4" class="input-group-text">and</span>
    <input *ngIf="dateForm.controls.estimation.value == 4"
           [ngClass]="{'is-invalid': isDateModelSubmitted && dateForm.controls.maxDateValue.errors}"
           class="form-control" formControlName="maxDateValue" id="maxDate"
           name="maxValue" placeholder="dd.MM.yyyy"
           type="text">
    <div *ngIf="dateForm.invalid" class="invalid-feedback">
      <div>Incorrect date. Please use 'dd.MM.yyyy' format.</div>
    </div>
  </div>

</form>
