<div class="text-center bg-secondary py-3">
  <span class="col-3 text-center font-weight-bold">Event details:</span>
</div>

<div class="bg-info p-4 mx-5">
  <div *ngIf="event" class="mb-5">
    <!--not name-related part-->
    <div class="row mb-3">
      <div class="col-7 d-flex flex-column">
        <div class="flex-item">
          Name: <strong>{{event.name}}</strong>
        </div>
        <div class="flex-item">
          Date: <strong> {{dateService.getEventDate(event)}}</strong>
        </div>
        <div class="flex-item">
          Place:<span style="white-space: pre;"> {{Place.getFullPlaceString(event?.place, 'unknown')}}</span>
        </div>
      </div>
      <div class="col-5 d-flex flex-column">
        <div class="flex-item">
          Type: <strong>{{EventType[event.type]}}</strong>
        </div>
        <div class="flex-item">
          Participant(s):
          <ul *ngFor="let participant of event.participants">
            <li><a [routerLink]="['/person', participant.person.id]">{{Person.fullName(participant.person)}}</a></li>
          </ul>
        </div>
        <div *ngIf="event?.cause" class="flex-item">
          Cause of event: <strong>{{event?.cause != null ? event?.cause : '?'}}</strong>
        </div>
        <div *ngIf="event?.details" class="flex-item">
          Event details: <strong>{{event?.details}}</strong>
        </div>
      </div>
      <!--Buttons-->
      <div class="row justify-content-around align-items-center mx-auto">
        <button *ngIf="treeService.activeTree" class="col btn btn-secondary mx-5" routerLink="/tree/timeline">Go to tree
          timeline
        </button>
        <button [routerLink]="['/event', event.id, 'update']" class="col btn btn-primary mx-5">Edit event</button>
        <button (click)="delete()" class="col btn btn-danger mx-5">Delete event</button>
      </div>
    </div>
  </div>
</div>

