<div class="non-footer">
  <div class="header">
    <app-navbar class="header"></app-navbar>
  </div>
  <div class="main">
    <app-main-view class="content h-100"></app-main-view>
  </div>
</div>

<div class="footer text-center align-items-center py-2 bg-primary w-100" style="flex-shrink: 0;">
  <app-footer></app-footer>
</div>
