<div class="text-center bg-secondary py-3">
  <span class="col-3 text-center font-weight-bold">{{header}}</span>
</div>

<div class="bg-info p-4 mx-5">
  <form *ngIf="eventForm" [formGroup]="eventForm" class="mb-5">
    <div class="row mb-3">
      <div class="col-6 d-flex flex-column justify-content-around">
        <div class="flex-item">
          <label class="col-form-label" for="name">Name: </label>
          <input [ngClass]="{'is-invalid': eventSubmitted && eventForm.controls.name.errors}" class="form-control"
                 formControlName="name" id="name" placeholder="leave blank to autogenerate name" type="text">
          <div *ngIf="eventForm.controls.name.errors" class="invalid-feedback">
            <div *ngIf="eventForm.controls.name.errors.maxlength">
              {{UtilService.prepareTooLongErrorMessage(eventForm.controls.name)}}</div>
          </div>
        </div>
        <div class="flex-item">
          <app-date-form #eventDateComponent [dateType]="EventType[eventForm.controls.type.value]"
                         [date]="event?.startDate"></app-date-form>
        </div>
        <div class="flex-item">
          <label class="col-form-label" for="eventPlace">Place</label>
          <input (click)="openPlaceForm()" class="form-control" id="eventPlace" type="text"
                 value="{{Place.firstPart(eventForm?.controls?.place?.value?.name, 'unknown')}}">
        </div>
      </div>
      <div class="col-6 d-flex flex-column justify-content-around">
        <!--For event-edit-->
        <div *ngIf="event" class="flex-item">
          Type: <strong>{{EventType[event.type]}}</strong>
        </div>

        <div *ngIf="event" class="flex-item">
          Participant(s):
          <ul *ngFor="let participant of event.participants">
            <li><a [routerLink]="['/person', participant.person.id]">{{Person.fullName(participant.person)}}</a></li>
          </ul>
        </div>

        <!--For event-create-->
        <div *ngIf="!event" class="flex-item">
          <label for="type">Type: </label>
          <select (ngModelChange)="onParticipantOrTypeChange()" class="custom-select" formControlName="type" id="type"
                  name="type">
            <option *ngFor="let eventType of eventTypes()" [attr.selected]="shouldTypeBeSelected(eventType)"
                    [ngValue]="eventType">{{EventType[eventType]}}</option>
          </select>
        </div>

        <div *ngIf="!event" class="flex-item my-3">
          <mat-form-field class="w-100">
            <mat-label id="mainParticipantLabel">Main participant</mat-label>
            <mat-select (ngModelChange)="onParticipantOrTypeChange()" formControlName="participants">
              <input (keyup)="onKey($event.target.value)" aria-label="mainParticipantLabel" class="form-control">
              <mat-option *ngFor="let person of filteredPersons"
                          [value]="person">{{Person.fullName(person)}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="eventForm.controls.participants.errors" class="invalid-feedback">
            <div *ngIf="eventForm.controls.participants.errors.required">
              Choosing event participant is necessary.
            </div>
          </div>
        </div>

        <div *ngIf="!event && !EventService.isEventTypePersonal(eventForm.controls.type.value)
             && eventForm.controls.participants.value != null"
             class="flex-item">
          <label for="familySelect">Select family in which event occurred: </label>
          <select [(ngModel)]="selectedFamily" [ngModelOptions]="{standalone: true}" class="custom-select"
                  id="familySelect" name="familySelect">
            <option *ngFor="let family of mainParticipantFamilies" [attr.selected]="true" [value]="family">
              {{Family.toString(family)}}</option>
            <option *ngIf="invalidParticipantForFamilyEvent" class="font-weight-light">(No suitable families)</option>
          </select>
        </div>

        <div class="flex-item">
          <label class="col-form-label" for="details">Event details:</label>
          <textarea [ngClass]="{'is-invalid': eventSubmitted && eventForm.controls.details.errors}"
                    class="form-control" formControlName="details" id="details" rows="2"></textarea>
          <div *ngIf="eventForm.controls.details.errors" class="invalid-feedback">
            <div
              *ngIf="eventForm.controls.details.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(eventForm.controls.details)}}</div>
          </div>
        </div>

        <div class="flex-item">
          <label class="col-form-label" for="cause">Cause of event:</label>
          <textarea [ngClass]="{'is-invalid': eventSubmitted && eventForm.controls.cause.errors}"
                    class="form-control" formControlName="cause" id="cause" rows="2"></textarea>
          <div *ngIf="eventForm.controls.cause.errors" class="invalid-feedback">
            <div
              *ngIf="eventForm.controls.cause.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(eventForm.controls.cause)}}</div>
          </div>
        </div>
      </div>
      <!--Buttons-->
      <div class="row justify-content-around align-items-center mt-5 mx-auto">
        <button *ngIf="treeService.activeTree" class="col btn btn-secondary mx-5" routerLink="/tree/timeline"
                type="button">Cancel and go to tree timeline
        </button>
        <button *ngIf="event" [routerLink]="['/event', event.id]" class="col btn btn-secondary mx-5" type="button">
          Cancel and go to
          event details
        </button>
        <button (click)="submitForm()" [disabled]="eventSubmitted || invalidParticipantForFamilyEvent"
                class="col btn btn-success mx-5">Submit
        </button>
      </div>
    </div>
  </form>
</div>
