<div id="register">
  <div class="container">
    <h1 class="text-center pt-4 promotion-title">Log in to {{UtilService.APP_NAME}}</h1>
    <div class="row justify-content-center align-items-center pt-4" id="register-row">
      <div class="col-md-6" id="register-column">
        <div class="col-md-12 mb-5" id="register-box">

          <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" id="register-form">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>

            <div class="form-group">
              <label class="register-field" for="email">Email address:</label><br>
              <input class="form-control"
                     formControlName="email" id="email"
                     type="text"/>
            </div>

            <div class="form-group">
              <label class="register-field" for="password">Password:</label><br>
              <input #passwordField
                     class="form-control"
                     formControlName="password" id="password"
                     type="password"/>
            </div>

            <div class="row">
              <div class="col-sm form-group">
                <button [disabled]="loading" class="btn btn-secondary">Log in
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                </button>
                <a class="btn text-right register-field" routerLink="/register">I don't have an account</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
