@import '~src/sass/variables';

#register .container #register-row #register-column #register-box {
  max-width: 600px;
  min-width: 500px;
  height: 100%;
  border: 1px solid black;
  background-color: #00010D;
  opacity: 0.8;
}

#register .container #register-row #register-column #register-box #register-form {
  padding: 20px;
}

#register .container #register-row #register-column #register-box #register-form #register-link {
  margin-top: -85px;
}

.register-field {
  color: cornsilk;
}

.alert {
  margin-top: 10px;
}

.fa-question-circle {
  color: red;
}
