<h2 mat-dialog-title>{{EventType[placeType]}} place</h2>
<div class="h-100" mat-dialog-content>
  <form *ngIf="placeForm" [formGroup]="placeForm">
    <div class="form-group">
      <label class="col-form-label" for="placeName">Place name (required):</label>
      <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.name.errors}" class="form-control"
             formControlName="name" id="placeName"
             placeholder="Unique place name" type="text">
      <div *ngIf="placeForm.dirty && placeForm.controls.name.errors" class="invalid-feedback">
        <div *ngIf="placeForm.controls.name.errors.required">Name is required</div>
        <div
          *ngIf="placeForm.controls.name.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.name)}}</div>
      </div>

      <label class="col-form-label" for="address">Address:</label>
      <textarea [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.address.errors}"
                class="form-control" formControlName="address" id="address" type="text"></textarea>
      <div *ngIf="placeForm.controls.address.errors" class="invalid-feedback">
        <div
          *ngIf="placeForm.controls.address.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.address)}}</div>
      </div>

      <label class="col-form-label" for="city">City:</label>
      <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.city.errors}" class="form-control"
             formControlName="city" id="city"
             type="text">
      <div *ngIf="placeForm.controls.city.errors" class="invalid-feedback">
        <div
          *ngIf="placeForm.controls.city.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.city)}}</div>
      </div>


      <label class="col-form-label" for="state">State (first-level administrative division):</label>
      <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.state.errors}" class="form-control"
             formControlName="state" id="state"
             type="text">
      <div *ngIf="placeForm.controls.state.errors" class="invalid-feedback">
        <div
          *ngIf="placeForm.controls.state.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.state)}}</div>
      </div>

      <label class="col-form-label" for="postalCode">Postal code:</label>
      <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.postalCode.errors}"
             class="form-control" formControlName="postalCode" id="postalCode"
             type="text">
      <div *ngIf="placeForm.controls.postalCode.errors" class="invalid-feedback">
        <div
          *ngIf="placeForm.controls.postalCode.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.postalCode)}}</div>
      </div>

      <label class="col-form-label" for="country">Country:</label>
      <input [ngClass]="{'is-invalid': placeForm.dirty && placeForm.controls.country.errors}" class="form-control"
             formControlName="country" id="country"
             type="text">
      <div *ngIf="placeForm.controls.country.errors" class="invalid-feedback">
        <div
          *ngIf="placeForm.controls.country.errors.maxlength">{{UtilService.prepareTooLongErrorMessage(placeForm.controls.country)}}</div>
      </div>
    </div>
  </form>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close(place)" mat-button>Cancel</button>
    <button (click)="submitPlace()" [disabled]="placeForm.invalid" color="primary" mat-button>Submit
    </button>
  </div>
</div>
