<div class="text-center bg-secondary py-3">
  <span class="col-3 text-center font-weight-bold">Person profile</span>
</div>

<div class="bg-info p-4 mx-5">
  <div *ngIf="person" class="mb-5">
    <!-- name -->
    <div class="mb-3" style="display: flex">
      <img *ngIf="person?.photo" [src]="photoUrl" alt="Person's photo" class="mr-auto img-thumbnail">
      <span class="ml-auto">Full name: <strong>{{Person.fullName(person)}}</strong> </span>
      <fa-icon *ngIf="!isPersonAlive()" [icon]="crossIcon" class="mr-auto ml-1"></fa-icon>
      <span class="mx-auto"><em *ngIf="person.id === treeService?.activeTree?.probandId">This person is the proband of the tree.</em></span>
    </div>
    <!--not name-related part-->
    <div class="row mb-3">
      <!--left NNR column - dates and places-->
      <div class="col-7">
        <!--birth section-->
        <div class="row mb-3">
          <div class="col-3">
            Birth date: <span class="font-weight-bold"> {{dateService.getEventDate(basicEvents?.birth)}}</span>
          </div>
          <div class="col-9">
            Birth place:<span style="white-space: pre;"> {{toPlaceString(basicEvents?.birth?.place)}}</span>
          </div>
        </div>
        <!--death/residence section-->
        <div class="row mb-3">
          <div [hidden]="isPersonAlive()" class="col-3">
            Death date: <span class="font-weight-bold"> {{dateService.getEventDate(basicEvents?.death)}}</span>
          </div>
          <div [hidden]="isPersonAlive()" class="col-9">
            Death place:<span style="white-space: pre;"> {{toPlaceString(basicEvents?.death?.place)}}</span>
          </div>
          <div [hidden]="!isPersonAlive()" class="col">
            Residency:<span style="white-space: pre;"> {{toPlaceString(person?.residency)}}</span>
          </div>
        </div>
        <!--burial section-->
        <div [hidden]="isPersonAlive()" class="row mb-3">
          <div class="col-3">
            Burial date: <span class="font-weight-bold"> {{dateService.getEventDate(basicEvents?.burial)}}</span>
          </div>
          <div class="col-9">
            Burial place:<span style="white-space: pre;"> {{toPlaceString(basicEvents?.burial?.place)}}</span>
          </div>
        </div>
        <!--cause of death-->
        <div [hidden]="isPersonAlive()" class="row mb-3">
          <div class="col">
            Cause of death: <span class="font-weight-bold">
            {{basicEvents?.death?.cause != null ? basicEvents?.death?.cause : '?'}}</span>
          </div>
        </div>
      </div>
      <!--right NNR part - sex, occupation and bio-->
      <div class="col-5 justify-content-around">

        <div class="mb-3">
          Sex: <span class="font-weight-bold"> {{Sex[person?.sex]?.toLowerCase()}}</span>
          <span [ngSwitch]="Sex[person.sex]" class="col-2 text-center">
            <fa-icon *ngSwitchCase="Sex.F" [icon]="femaleSexIcon" style="color: darkviolet"></fa-icon>
            <fa-icon *ngSwitchCase="Sex.M" [icon]="maleSexIcon" style="color: dodgerblue"></fa-icon>
            <fa-icon *ngSwitchCase="Sex.U" [icon]="undeterminedSexIcon" style="color: gray"></fa-icon>
          </span>
        </div>
        <div class="mb-3">
          Occupation: <span class="font-weight-bold"> {{person?.occupation != null ? person.occupation : '?'}}</span>
        </div>

        <div *ngIf="person?.bio" class="mb-3">
          Biography: <span class="font-weight-bold"> {{person?.bio}}</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center">
      <button *ngIf="treeService.activeTree" class="col btn btn-secondary mx-5" routerLink="/view/list">Go to list
        view
      </button>
      <button *ngIf="treeService.activeTree" [routerLink]="['/view/chart', person.id]"
              class="col btn btn-secondary mx-5">Go to chart view
      </button>
      <button [routerLink]="['/person', person.id, 'update']" class="col btn btn-primary mx-5">Edit person
      </button>
      <button (click)="setPersonAsProband()" class="col btn btn-primary mx-5">Set person as the proband</button>
      <button (click)="deletePerson()" class="col btn btn-danger mx-5">Delete person</button>
    </div>
  </div>
  <app-timeline-person [person]="person"></app-timeline-person>
</div>

