<div class="row justify-content-around align-items-center bg-secondary py-2">
  <span class="col-3 text-center font-weight-bold">Timeline{{subjectName}}:</span>
  <button (click)="navigateToEventCreation()" class="col-2 btn btn-success">Create new event</button>
</div>


<table [dataSource]="events" class="bg-info" mat-table style="width: 100%">
  <ng-container matColumnDef="startDate">
    <th *matHeaderCellDef mat-header-cell scope="col">Event date</th>
    <td *matCellDef="let element" class="font-weight-bold" mat-cell>{{getEventDate(element)}}</td>
  </ng-container>

  <ng-container matColumnDef="place">
    <th *matHeaderCellDef mat-header-cell scope="col">Event place</th>
    <td *matCellDef="let element" mat-cell>{{Place.firstPart(element?.place?.name, '?')}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell scope="col">Event name</th>
    <td *matCellDef="let element" mat-cell>{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th *matHeaderCellDef mat-header-cell scope="col">Event type</th>
    <td *matCellDef="let element" mat-cell>{{EventType[element.type]}}</td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th *matHeaderCellDef mat-header-cell scope="col">Options</th>
    <td *matCellDef="let element" mat-cell>
      <button [routerLink]="['/event', element.id]" class="btn btn-secondary mx-1">View details</button>
      <button [routerLink]="['/event', element.id, 'update']" class="btn btn-primary mx-1">Edit event</button>
      <button (click)="delete(element.id)" *ngIf="element.type !== EventTypeReverse.Birth"
              class="btn btn-danger mx-1">Delete event
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

<mat-paginator #paginator (page)="pageEvent = refreshData($event)" [length]="page.totalElements"
               [pageIndex]="page.number" [pageSizeOptions]="[5, 15, 45]" [pageSize]="page.size"
               showFirstLastButtons></mat-paginator>
