<div class="row justify-content-around align-items-center bg-secondary py-2">
  <span class="col-3 text-center font-weight-bold">Your genealogies:</span>
  <button (click)="editedTree=null" class="col-2 btn btn-primary" data-target="#createEditModal"
          data-toggle="modal">Create new tree from scratch
  </button>
  <button class="col-2 btn btn-primary" data-target="#importModal" data-toggle="modal">
    Import existing tree from GEDCOM
  </button>
</div>

<ul class="list-group">
  <li *ngFor="let tree of trees" class="list-group-item bg-info">
    <div class="row justify-content-around align-items-center">
      <span class="col-2 text-center font-weight-bold ">{{tree.name}}</span>
      <span class="col-2 text-center font-weight-light">{{tree.personsCount}} people</span>
      <div class="col-1">
        <button (click)="setActiveTree(tree)" class="btn btn-primary dropdown dropdown-toggle" data-toggle="dropdown"
                id="viewTypeDrop">View
        </button>
        <div aria-labelledby="viewTypeDrop" class="dropdown-menu">
          <a [routerLink]="['/view/list']" class="dropdown-item">As list</a>
          <a [routerLink]="['/view/chart']" class="dropdown-item">As chart</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['/tree/timeline']" class="dropdown-item">Timeline</a>
        </div>
      </div>
      <button (click)="editedTree=tree" class="col-2 btn btn-secondary" data-target="#createEditModal"
              data-toggle="modal">Edit tree properties
      </button>
      <div class="col-2">
        <button class="btn btn-secondary dropdown dropdown-toggle" data-toggle="dropdown" id="gedcomVersionDrop">
          Export as GEDCOM
        </button>
        <div aria-labelledby="gedcomVersionDrop" class="dropdown-menu">
          <a (click)="exportGedcom(tree, SupportedGedcomVersions.V551)" class="dropdown-item">GEDCOM v. 5.5.1</a>
          <a (click)="exportGedcom(tree, SupportedGedcomVersions.V555)" class="dropdown-item">GEDCOM v. 5.5.5</a>
        </div>
      </div>
      <button
        (click)="setActiveTree(tree)"
        [routerLink]="['/tree/permissions']"
        class="col-1 btn btn-warning"
      >
        Manage permissions
      </button>
      <button (click)="treeToDelete=tree" class="col-1 btn btn-danger" data-target="#deleteModal" data-toggle="modal">
        Delete tree
      </button>
    </div>
  </li>
</ul>

<div aria-hidden="true" class="modal fade" id="deleteModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm tree deletion</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete <em>{{getTreeName(treeToDelete)}}</em> tree?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" type="button">Cancel</button>
        <button (click)="delete(treeToDelete)" class="btn btn-danger" data-dismiss="modal" type="button">Delete</button>
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" class="modal fade" id="createEditModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tree properties</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="treeForm">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label" for="tree-name">Provide name for the tree:</label>
            <input [ngClass]="{'is-invalid': treeForm.dirty && treeForm.controls.name.errors}" class="form-control"
                   formControlName="name" id="tree-name" placeholder="My family tree" type="text"
                   value="{{getTreeNameForForm(editedTree)}}">
            <div *ngIf="treeForm.dirty && treeForm.controls.name.errors" class="invalid-feedback">
              <div
                *ngIf="treeForm.controls.name.errors.treeName">{{treeForm.controls.name.errors.treeName.description}}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
          <button (click)="onSubmit()" [disabled]="treeForm.controls.name.errors" class="btn btn-primary"
                  data-dismiss="modal">Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div aria-hidden="true" class="modal fade" id="importModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import GEDCOM file</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="custom-file-label mx-4 my-4" for="gedcomImport">Provide a GEDCOM file:</label>
            <input (change)="gedcomFile = $event" accept=".ged" class="custom-file-input" id="gedcomImport"
                   type="file">
            <div *ngIf="GedcomFile" class="text-center mt-4">Chosen file: <strong>{{GedcomFile.name}}</strong></div>
            <div *ngIf="gedcomImportError" class="text-center mt-4 alert-danger font-weight-bold">
              {{gedcomImportError}}
            </div>
            <div *ngIf="fileLoaded" class="text-center mt-4 alert-success font-weight-bold">
              File loaded successfully. Reload page to see the result.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="fileLoaded" class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
        <button (click)="submitGedcom()" [disabled]="!GedcomFile || fileLoaded || loadingFile" class="btn btn-primary">
          Submit file
          <span *ngIf="loadingFile" class="spinner-border spinner-border-sm mr-1"></span>
        </button>
        <button (click)="refreshData()" [disabled]="!fileLoaded" class="btn btn-success" data-dismiss="modal"
                type="button">Reload page
        </button>
      </div>
    </div>
  </div>
</div>
